:root {
  --primary-o: rgba(250, 116, 54, 1);
  --primary-b: rgba(34, 34, 34, 1);
  --color-b-1: rgba(68, 68, 68, 1);
  --color-off: rgba(153, 153, 153, 1);
  --white: rgba(255, 255, 255, 1);
  --color-off-1: rgba(229, 229, 229, 1);
}
